<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Settings.wxi?>

  <?warning $(var.Platform)?>
  
  <Product 
      Id="$(var.ProductId)" 
      Name="$(var.ProductName)" 
      Language="1033" 
      Version="$(var.ProductVersion)" 
      Manufacturer="$(var.ProductManufacturer)" 
      UpgradeCode="$(var.ProductUpgradeCode)">
    
    <Package 
      InstallerVersion="400" 
      InstallPrivileges="elevated"
      Compressed="yes" 
      InstallScope="perMachine" 
      Manufacturer="$(var.ProductManufacturer)" 
      Description="$(var.ProductName)"
      Platform="$(var.Platform)"/>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <MajorUpgrade
      AllowDowngrades="no"
      Schedule="afterInstallFinalize"
      MigrateFeatures="yes"
      DowngradeErrorMessage="A later or current version of [ProductName] is already installed. To install this version, uninstall the installed version first."
	    />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLLOCATION" Name="GameOfLife3D">
          <Directory Id="enUS" Name="en-US"/>
          <Directory Id="jaJP" Name="ja-JP"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="APPLICATIONPROGRAMFOLDER" Name="GameOfLife3D"/>
      </Directory>
    </Directory>

    <Icon Id="GameOfLife3D_File_ico" SourceFile="GameOfLife3D.ico"/>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="GameOfLife3DExe" Guid="f811afca-f563-4c95-8e75-aec5567f719f" Win64="$(var.Win64)">
        <File Id="GameOfLife3D.exe" Name="GameOfLife3D.exe" DiskId="1" Source="$(var.BinaryDir)\GameOfLife3D.exe" KeyPath="yes"/>
        <File Id="GameOfLife3D_File.ico" Name="GameOfLife3D_File.ico" DiskId="1" Source="GameOfLife3D.ico" KeyPath="no"/>
      </Component>
      <Component Id="license.rtf" Guid="a2f289b0-e0ea-4f0c-866d-500d671c96d8" Win64="$(var.Win64)">
        <File Id="license.rtf" Name="license.rtf" DiskId="1" Source="license.rtf" KeyPath="yes"/>
      </Component>
      <Component Id="GameOfLife3D_MUI.dll" Guid="310759d7-dc1a-40ff-8497-0a7ad87c7d08" Win64="$(var.Win64)">
        <File Id="GameOfLife3D_MUI.dll" Name="GameOfLife3D_MUI.dll" DiskId="1" Source="$(var.BinaryDir)\GameOfLife3D_MUI.dll" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="enUS">
      <Component Id="enUS_GameOfLife3D_MUI.dll.mui" Guid="c425991c-f5b5-4313-ab5b-cc552970cc77">
        <File Id="enUS_GameOfLife3D_MUI.dll.mui" Name="GameOfLife3D_MUI.dll.mui" DiskId="1" Source="$(var.BinaryDir)\en-US\GameOfLife3D_MUI.dll.mui" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="jaJP">
      <Component Id="jaJP_GameOfLife3D_MUI.dll.mui" Guid="b21419a1-61e0-4e0f-aa39-bf2b8eb736e7">
        <File Id="jaJP_GameOfLife3D_MUI.dll.mui" Name="GameOfLife3D_MUI.dll.mui" DiskId="1" Source="$(var.BinaryDir)\ja-JP\GameOfLife3D_MUI.dll.mui" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="APPLICATIONPROGRAMFOLDER">
      <Component Id="ApplicationShortcut" Guid="64b5fc73-021b-495c-9a0f-347500b56f67">
        <Shortcut Id="ApplicationStartMenuShortcut_GameOfLife3DExe"
                  Name="GameOfLife3D"
                  Description="GameOfLife3D"
                  Target="[INSTALLLOCATION]GameOfLife3D.exe"
                  WorkingDirectory="INSTALLLOCATION" Icon="GameOfLife3D.ico">
          <Icon Id="GameOfLife3D.ico" SourceFile="GameOfLife3D.ico"/>
        </Shortcut>
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall GameOfLife3D"
                  Description="Uninstall GameOfLife3D"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="APPLICATIONPROGRAMFOLDER" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\GameOfLife3D\GameOfLife3D" Name="installed"
                      Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <Feature Id="ProductFeature" Title="GameOfLife3D_WiX" Level="1">
      <ComponentRef Id="GameOfLife3DExe"/>
      <ComponentRef Id="license.rtf"/>
      <ComponentRef Id="GameOfLife3D_MUI.dll"/>
      <ComponentRef Id="enUS_GameOfLife3D_MUI.dll.mui"/>
      <ComponentRef Id="jaJP_GameOfLife3D_MUI.dll.mui"/>
      <ComponentRef Id="ApplicationShortcut"/>
    </Feature>
    <InstallExecuteSequence>
    </InstallExecuteSequence>
    
    <UI>
      <ProgressText Action="InstallDirectX">Installing DirectX June 2010</ProgressText>
    </UI>
    
    <UIRef Id="WixUI_InstallDir"/>
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>

    <Condition Message="This application is only supported on Windows Vista, Windows 7, or higher.">
      <![CDATA[Installed OR (VersionNT >= 600)]]>
    </Condition>

  </Product>
</Wix>
